@import "src/scss/Default";

.aboutNewtouch  {
  a{
    color: $white;
  }

  .tab-pane {
      background: $blue;
  }

  .tab-pane li {
    display: inline-block;
    margin: 0 10px;
  }

  .tab-pane li.active a {
    color: #023041;
  }

  .tab-pane-con-tab {
    background: $grey;
  }

  .contentMin {
    padding: 60px 0;
  }

}

/*公司简历 start*/
.companyInfo {
  background-color: $grey;
  padding: 30px 0px;
  .Info_content {
    width: 1030px;
    letter-spacing: 2px;
    padding: 20px 0px;
    margin: 0 auto;
  }
  .article.Info_content {
    text-align: left;

  }
  .article.Info_content p{
    width: 70%;
  }
}

.companyInfo .Info_content ul li{
  background-color: $white;
  border:#eee 1px solid;
  margin-bottom: 15px;
  width: 100%;
  padding: 20px 0px;
  .col-md-3{
    padding: 0px;text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .col-md-3 i{
    font-size: 5em;
    color: $blue
  }
  .col-md-9{
    text-align: left;
  }
}
/*公司简历 end*/

/*企业文化start*/
.aboutNewtouch .aboutNewtouch-coreIdea {
  h2 {
    margin-bottom: 30px;
  }
  .aboutNewtouch-coreIdea-con {
    margin-bottom: 40px;
    line-height: 34px;
  }
  .aboutNewtouch-coreIdea-img img:nth-child(2) {
    margin: 0 10px;
  }
  .attestation{
    padding-left: 0px;
  }

  attestation.attestation3{
    text-align: right !important;
  }

  .attestation .attestation-part{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .certificate_style{
    min-width: 600px;
    max-width: 700px;
    background-color: #FC0;
    padding: 30px;
    padding-bottom: 0;
    border: 10px solid #DFDFDF;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 25%;
    right: 25%;
    margin-top: -2%;
  }

  .certificate_style.certificate_spi{
    max-width: 1000px;
  }
}

.aboutNewtouch .aboutNewtouch-coreIdea .certificate_style {
  img{
    padding: 0px 0px 1px 0px;
    border-bottom: $black 1px solid;
    border-right: $black 1px solid;
    background-position: right bottom;
    width: 95%;
  }
  h4 {
    padding: 5px 0px 5px 0px;
    background-position: right bottom;
  }
  h4 span{
    margin-right: 5px;
    top:3px;
  }
}

.attestation .attestation-part {
  .attestation_title{
    width:100%;
    display: inline-block;
    position: relative;
  }
  h4{
    padding: 0px 15px;
  }
  .attestation_boder{
    border-left: 2px $black solid;
    width: 2px;
    height: 20px;
  }
  ul li{
    width:100%;
    line-height: 38px !important;
    display: block !important;
  }
  ul li.active a{
    color: $blue !important;
  }
  ul li a:hover{
    color:#023041 !important;
  }
  ul li a{
    color: $blue;
  }
}
/*企业文化end*/

/*发展历程end*/
.aboutNewtouch .aboutNewtouch-timeline {
  width: 500px;
  margin: 0px auto !important;
  text-align: left;
  color: #353535;
  padding-left: 100px;

  .glyphicon {
    position: absolute;
    left: -5px;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: $grey;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    color:$blue;
  }

  .aboutNewtouch-timeline-content {
    padding-left: 50px;
  }

  .aboutNewtouch-timeline-content p {
    line-height: 34px;
  }

}

.aboutNewtouch .aboutNewtouch-timeline-item {
  position: relative;
  padding-bottom: 20px;
  width: 100%;
}

.aboutNewtouch .aboutNewtouch-timeline-item:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 0;
  z-index: 0;
  width: 2px;
  height: 100%;
  background-color: $blue;
}

.aboutNewtouch .aboutNewtouch-timeline-item.last:before {
  height: 0;
}

/*发展历程end*/
.values{
  background-color: $white;
  margin: 0px;
  padding-bottom: 70px;
  padding-top: 50px;
  h2{
    margin-bottom: 30px!important;
  }
}

.values .values_item{
  width: 22.2%;
  background: #646464;
  min-height: 435px;
  margin: 0px 15px;
  color: $white;
  p > span {
    font-size: 3.7em;
  }

  .values_detail{
    text-align: left;
    padding-bottom: 15px;
  }

  .values_tit{
    padding: 45px 0px 15px 0px;
  }

}
