@import "src/scss/Default";

.total-container h4 {
  margin: 0 !important;
}

.total-container h4 a {
  color: #343434;
}

.panel-heading {
  height: 40px;
  line-height: 40px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  display: block;
  background: $white;
}

.panel-heading.router-link-active {
  border-left: #00BEFF 5px solid;
}

.total-container {
  background-color: #F4f4f4;
}

.main-content {
  width: 1200px;
  margin: 30px auto 0px auto;
  padding-bottom: 15px;
}

.silder-content {
  width: 250px;
  margin-right: 30px;
}

.silder-title {
  height: 40px;
  color: #fff;
  line-height: 40px;
  background-color: #343434;
  padding-left: 15px;
}

.panel-group .panel {
  margin-bottom: -6px;
  border-radius: 0px;
}

.silder-content ul li {
  list-style: none;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  color: #06497E;
}

.text-content {
  width: calc(100% - 280px);
}

.cart .panel-body {
  padding: 0px;
}
