/*font*/
$font-family: PingFangSC-Regular, 微软雅黑;
$font-color: #595757;
$font-size: 14px;

/*a*/
$a-color: $font-color;
$a-color-hover: #3CA1C9;
/*color*/
$blue: #00BEFF;
$black: #343434;
$grey: #f4f4f4;
$white: #fff;
$black: #000000;
